﻿@model Dialogistic.Models.UserProfile

<!--Used to generate map with API-->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
      integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
      crossorigin="" />
<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
        integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
        crossorigin=""></script>

<html>
<body>
    <section class="content-header">
        <h1>
            Dashboard
            <small>Control panel</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="~/Admins/Dashboard"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content clearfix">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>@ViewBag.TotalRemainingCalls</h3>
                        <p>Remaining Calls For All Callers</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-users"></i>
                    </div>
                    <a href="~/Admins/ManageCallList" class="small-box-footer">View remaining calls <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>$@ViewBag.TotalDonations<sup style="font-size: 20px"></sup></h3>
                        <p>Total Donations Raised By All Callers</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-money"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
        </div>
        <!-- /.row -->

        <div class="tab-container">

            <div class="tab-navigation">
                <select id="select-box">
                    <option value="1">Yearly Report</option>
                    <option value="2">Monthly Report</option>
                    <option value="3">Daily Report</option>
                </select>
            </div>

            <div id="tab-1" class="tab-content">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="form-group">
                            <label>Annual Gift Report:</label>
                            <canvas id="YearlyLineChart" width="400" height="150"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-2" class="tab-content">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="form-group">
                            <label>Monthly Gift Report:</label>
                            <canvas id="MonthlyLineChart" width="400" height="150"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-3" class="tab-content">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="form-group">
                            <label>Daily Gift Report:</label>
                            <canvas id="DailyLineChart" width="400" height="150"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <label>Constituents Hot Map:</label>
            <div id="mapid"></div>

        </div>

        @section scripts {
            <script src="~/Scripts/Chart.js"></script>
            
            <script src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js"></script>

            <script>

                //----Yearly Report Chart---------
                var c = document.getElementById("YearlyLineChart");
                var ctx = c.getContext("2d");
                var tData = $.getValues("/Admins/CurrentYearlyReport");
                var myLineChart = new Chart(ctx, {
                    type: 'line',
                    data: tData
                });

                //----Monthly Report Chart---------
                var c = document.getElementById("MonthlyLineChart");
                var ctx = c.getContext("2d");
                var tData = $.getValues("/Admins/CurrentMonthlyReport");
                var myLineChart = new Chart(ctx, {
                    type: 'line',
                    data: tData
                });

                //----Daily Report Chart---------
                var c = document.getElementById("DailyLineChart");
                var ctx = c.getContext("2d");
                var tData = $.getValues("/Admins/CurrentDailyReport");
                var myLineChart = new Chart(ctx, {
                    type: 'line',
                    data: tData
                });

                //hide all tabs first
                $('.tab-content').hide();
                //show the first tab content
                $('#tab-1').show();

                $('#select-box').change(function () {
                    dropdown = $('#select-box').val();
                    //first hide all tabs again when a new option is selected
                    $('.tab-content').hide();
                    //then show the tab content of whatever option value was selected
                    $('#' + "tab-" + dropdown).show();
                });

                //----Map of constituents ---------
                var planes = $.getValues("/Admins/MapAddresses");
                var map = L.map('mapid').setView([36.152006,-99.120854], 4);
                //var map = L.map('mapid').setView([-41.3058, 174.82082], 8);
                mapLink =
                    '<a href="http://openstreetmap.org">OpenStreetMap</a>';
                L.tileLayer(
                    'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        maxZoom: 18,
                    }).addTo(map);

                for (var i = 0; i < planes.length; i++) {
                    marker = new L.marker([planes[i][0], planes[i][1]])
                        .addTo(map);
                }

            </script>
        }
</body>
</html>