﻿
@{
    /**/

    ViewBag.Title = "Create";
}

<section class="content-header">
    <h1>
        Welcome Administrator!
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Admins/Dashboard"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">Welcome Administrator!</li>
    </ol>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h2 class="box-title">general help and guidelines</h2>
        </div>
        
        <div>
            <h6>Description of options</h6>

            <p> Manage Call List: use this option to generate call assignments for callers.
                Constitutents can also be manually re-assigned to different callers.
                The current automatic assignment uses various aspects of each constituent's donation history and the callers own success
                at obtaining donation's to create good matches.
            </p>

            <p>Manage Callers: use this option to change the permissions of standard users i.e. callers into those of an administrator!
            </p>

            <p>Manage Constituents: use this option to determine the donation status of various constitutents in the database as well as search 
            for individual constituents. One can also update the information on a constituent if desired via the "update" action</p>

            <p>Review Constituent Changes: use this option to approve or deny updates to a constituent's info suggested by a caller.</p>

            <p>Import/Export CSV File: use this option to import appropriate CSV files of constituents data into the site's database.
            Note that export functionality is coming soon!</p>

            <p>Create New User: use this option to create new user accounts with the desired permissions and associated roles</p>

            <p>Settings: use this option to update your account info, change your password, and 
            review a report on the site's security.</p>

            <p>Help: use this option . . . to . . . well . . . you are here afterall :) </p>

            <p>Log Out: use this option to properly sign out from the site. </p>


        </div>
     
    </div>

</section>
