﻿@model IEnumerable<Dialogistic.Models.CallAssignment>

@{
    ViewBag.Title = "Manage Call List";
}

<section class="content-header">
    <h1>
        Call Assignments
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Admins/Dashboard"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">Manage Call List</li>
    </ol>
</section>
<!-- Main content -->
<section class="the-content">
    <div class="row">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Manage Call Assignments</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="Constituents" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Constituent</th>
                                <th>Caller</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Constituent.PrimaryAddressee)</td>
                                    <td>@Html.Partial("_ManageCallListPartial", item)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
                <!-- form start -->
                <!-- Create a button for admins to generate a list of call assignments -->
                @using (Html.BeginForm("GenerateCallList", "Admins", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                        <!-- Disable the button if there are already call assignments -->
                        <button type="submit" disabled="@(Model.Count() != 0)" class="btn btn-info">Generate Call Assignments</button>
                        <label>@ViewBag.GenerateMessage</label>
                }                
            </div>
            <!-- /.box -->
    </div>
    <!-- /.row -->
</section>
