﻿@model IEnumerable<Dialogistic.Models.UserProfile>

@{
    ViewBag.Title = "Manage Callers";
}

<section class="content-header">
    <h1>
        Manage Callers
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Admins/Dashboard"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">Manage Callers</li>
    </ol>
</section>
<!-- Main content -->
<div class="box">
    <div class="box-body">
        <table id="Constituents" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Caller</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    <tr>
                        <td>@item.FullName</td>
                        <td>@Html.Partial("_ManageCallersPartial", item)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>  
