﻿@model IEnumerable<Dialogistic.Models.ProposedConstituentsChanges>

@{
    ViewBag.Title = "Review Proposed Constituent Changes";
}

<h2>Review Proposed Constituent Changes</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PrimaryAddressee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreferredAddressLine1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreferredAddressLine2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreferredAddressLine3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreferredCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreferredState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreferredZIP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobilePhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlternatePhoneNumber)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.LastContacted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NextToLastGiftDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastGiftDate)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Deceased)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.LastGiftAmount)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.LifeTimeDonations)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DonationStatus)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.UniversityRelationship)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.CallPriority)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PrimaryAddressee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PreferredAddressLine1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PreferredAddressLine2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PreferredAddressLine3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PreferredCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PreferredState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PreferredZIP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MobilePhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlternatePhoneNumber)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.LastContacted)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.NextToLastGiftDate)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.LastGiftDate)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Deceased)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.LastGiftAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LifeTimeDonations)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.DonationStatus)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.UniversityRelationship)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.CallPriority)
        </td>*@
        <td>
            @Html.ActionLink("Approve", "ApproveConstituentChanges", new { id=item.ConstituentID }) |
            @Html.ActionLink("Deny", "DenyConstituentChanges", new { id=item.ConstituentID })
        </td>
    </tr>
}

</table>
