/*=======================
       Imports
========================*/
@import url("https://fonts.googleapis.com/css?family=Julius+Sans+One|Raleway:200,400,400i,900,900i");
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.rounded {
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}

.content-wrapper {
  padding: 20px;
  margin-bottom: 0;
}

.content-header, .content {
  padding: 0;
}

.content {
  padding: 20px 0;
}

.main-footer {
  margin-bottom: 0;
}

.wrapper {
  margin-bottom: 0 !important;
}

.bg-green .inner *, .callout.callout-success .inner *, .alert-success .inner *, .label-success .inner *, .modal-success .modal-body .inner * {
  color: white;
}

.bg-aqua .inner *, .callout.callout-info .inner *, .alert-info .inner *, .label-info .inner *, .modal-info .modal-body .inner * {
  color: white;
}

html {
  font-family: "Julius Snas One", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  color: #666;
  font-size: 16px;
}

body {
  margin-top: 0px;
}

.wrapper, .container, .region-footer {
  padding: 0;
  margin: 0;
}

.ui-state-active .ui-icon .resizable-textarea .grippie, .element-invisible, div#skip-link, .toolbar-toggle-orientation {
  display: none !important;
}

.main-container > .row > .col-sm-12, .container-fluid {
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", "Times New Roman", Times, serif;
  font-weight: 300;
  margin: 0;
  line-height: 1.5em;
  text-transform: uppercase;
}

h1 {
  font-size: 38px;
  font-size: 2.375rem;
  font-weight: 700;
}
h1.page-header {
  display: none;
}

h2 {
  font-size: 36px;
  font-size: 2.25rem;
  font-weight: 400;
}

h3 {
  font-size: 34px;
  font-size: 2.125rem;
  font-weight: 400;
}

h4 {
  font-size: 30px;
  font-size: 1.875rem;
  font-weight: 800;
}

h5 {
  font-size: 25px;
  font-size: 1.5625rem;
  font-weight: 700;
}

h6 {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 800;
}

.footnote p {
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 800;
  margin-bottom: 0;
}

.headers * {
  font-family: "Raleway", "Times New Roman", Times, serif !important;
  font-weight: 500;
}
.headers li {
  margin: 0 !important;
  padding: 0 !important;
}
.headers li:before {
  display: none !important;
}
.headers .light {
  font-weight: 200;
}
.headers strong {
  font-weight: 800;
}

img {
  width: 100%;
  height: auto;
}

.navbar .logo {
  max-width: 300px;
  display: block;
  float: left;
}

.logo-menu {
  margin-bottom: 0 !important;
}

.navbar-header {
  float: none;
}

.navbar-brand {
  float: none;
  height: auto;
  max-width: 1170px;
  margin: 0 auto;
}

.navbar-default {
  background: none;
  border: none;
}

.name {
  display: none;
}

.nav-tabs {
  max-width: 1170px;
  margin: 0 auto;
}

.light {
  font-weight: 100;
}

.bodycopy * {
  font-family: "Julius Snas One", Helvetica, Arial, "Lucida Grande", sans-serif !important;
}
.bodycopy li {
  margin: 0 !important;
  padding: 0 !important;
}
.bodycopy li:before {
  display: none !important;
}

.larger {
  text-transform: none;
  font-size: 120px;
  font-size: 7.5rem;
  line-height: 120px;
  margin-bottom: 0;
}

.palette {
  float: left;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px !important;
}
.palette ul {
  clear: left;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  text-align: center;
}
.palette li {
  display: block;
  float: left;
  list-style: none;
  position: relative;
  right: 50%;
  width: 150px;
  height: 150px;
  position: relative;
  list-style: none;
  color: white;
  display: inline-block;
  text-align: center;
  margin-bottom: 20px;
  margin-right: 20px;
}
.palette li:before {
  display: none !important;
}
.palette li:last-child {
  margin-right: 0;
}
.palette li p {
  color: white;
  position: absolute;
  font-size: 20px;
  font-size: 1.25rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div, p {
  color: #666;
  font-size: 18px;
  font-size: 1.125rem;
  margin: 0 0 1em;
  line-height: 1.65em;
  font-weight: 400;
  font-family: "Julius Snas One", Helvetica, Arial, "Lucida Grande", sans-serif;
}
div:last-child, p:last-child {
  margin-bottom: 1em;
}

#toolbar-bar * {
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 100;
}

.container div:last-child, container p:last-child {
  margin: 0;
}

i, em {
  font-style: italic;
  font-weight: 300;
}

b, strong {
  font-weight: 800;
}

a {
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

a:hover, a:focus {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.region-content ol {
  list-style-type: none;
  margin: 0;
  margin-left: 0;
  padding: 0;
  counter-reset: li-counter;
}

.region-content ol > li {
  position: relative;
  margin-bottom: 15px;
  padding-left: 20px;
}

.region-content ol > li:before {
  position: absolute;
  color: white;
  top: 7px;
  left: 0;
  text-align: center;
  font-weight: 400;
  font-family: "Julius Snas One", Helvetica, Arial, "Lucida Grande", sans-serif;
  content: counter(li-counter);
  counter-increment: li-counter;
  border-radius: 100%;
  height: 15px;
  width: 15px;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1.3em;
}

table {
  border: 0;
  width: 100%;
  margin-bottom: 20px;
  overflow: hidden;
}

table caption {
  padding: 15px;
  color: white;
}

th {
  padding: 10px 15px;
  color: white;
  font-weight: 500;
}

td {
  padding: 5px 15px;
  font-size: 14px;
  font-size: 0.875rem;
  vertical-align: middle;
}

.main-header .logo {
  height: 56px;
}

.main-sidebar {
  padding-top: 56px;
}

.tab-navigation {
  margin-bottom: 40px;
}

#mapid {
  height: 400px;
}

.donorKey li {
  padding: 5px 10px;
  border: solid 1px rgba(0, 0, 0, 0.2);
  display: inline-block;
  list-style-type: none;
  margin: 0;
  font-size: 14px;
}

.donorKey {
  margin: 0 0 20px 0 !important;
  padding: 0 !important;
}

body, html {
  overflow: visible;
}

#cometchat_chatboxes_wide .cometchat_tab, .cometchat_tabtitle, .cometchat_userstabtitle, #cometchat_tabcontainer .cometchat_tab_clicked, #cometchat_userstab {
  background: #ED6A5A !important;
}

#cometchat .cometchat_self, #cometchat .selfMsgArrow .after {
  background: #9BC1BC !important;
}

.centered-modal.in {
  display: flex !important;
}

.centered-modal .modal-dialog {
  margin: auto;
}

.content-wrapper, .main-footer, .main-header .navbar {
  margin-left: 20%;
}

.main-sidebar, .main-header .logo {
  width: 20%;
}

.user-panel {
  margin: 0;
}

.sidebar-menu > li > a {
  font-size: 14px;
  font-size: 0.875rem;
}

.sidebar-collapse .image {
  height: 30px;
  width: 30px;
}

.sidebar-collapse .clock {
  visibility: hidden;
  height: 1px;
  padding: 0;
  margin: 0;
}

.image {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  overflow: hidden;
  display: block;
  position: relative;
}

.image > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}

/*=======================
       Pledges
========================*/
#pledge {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
}
#pledge .box {
  border: none;
  background: #dddbdb;
  padding: 20px;
}
#pledge .cm-graphic:before {
  content: "";
  height: 15px;
  width: 15px;
  border: 1px solid #666;
  display: block;
  position: absolute;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#pledge .underline {
  border-bottom: 1px solid #666;
  width: 100%;
  padding: 0;
}
#pledge .cm-graphic {
  padding: 0 0 0 20px;
  margin-right: 10px;
  position: relative;
}
#pledge .checkbox-block {
  margin: 0;
  padding: 0;
}
#pledge .checkbox-block li {
  display: inline-block;
  list-style: none;
}
#pledge caption {
  background: none;
  color: #666;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #666;
  margin-bottom: 10px;
}
#pledge tr:nth-child(2n+1), #pledge tr:nth-child(2n) {
  background: none;
}
#pledge td {
  padding: 10px 10px 0 0;
  line-height: 20px;
  font-size: 16px;
  font-size: 1rem;
  vertical-align: middle;
  height: 29px;
}

.palette .cp1 {
  background-color: #61892F;
}
.palette .cp2 {
  background-color: #86c232;
}
.palette .cp3 {
  background-color: #222629;
  border: 2px solid #394045;
}
.palette .cp4 {
  background-color: #474b4f;
}
.palette .cp5 {
  background-color: #6b6e70;
}

.logo-lg, .logo-mini {
  color: white;
}
.logo-lg b, .logo-mini b {
  color: #61892F;
}

h1 {
  color: #86c232;
}

h2 {
  color: #61892F;
}

h3 {
  color: #474b4f;
}

h4 {
  color: #474b4f;
}

h5 {
  color: #6b6e70;
}

h6 {
  color: #86c232;
}

hr {
  border-top: 1px solid rgba(134, 194, 50, 0.2);
}

a, .main-header .sidebar-toggle:focus, .main-header .sidebar-toggle:active {
  color: #86c232;
}
a:hover, .main-header .sidebar-toggle:focus:hover, .main-header .sidebar-toggle:active:hover {
  color: #61892F;
}

div, p {
  color: #6b6e70;
}

.main-header {
  background: #86c232;
}

.main-sidebar {
  background: #474b4f;
}

.navbar.navbar-static-top {
  background: #474b4f;
}

.content-wrapper {
  background-color: #222629;
}

.box {
  background: none;
  border-radius: 0;
  box-shadow: none;
  border-top-color: #61892F;
  margin-top: 20px;
}

.box.box-info {
  border-top-color: #86c232;
}

.box-body {
  border: none;
  padding: 0;
}

.box-header {
  padding: 10px 0;
}

.box-footer {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

h3.box-title, .box-header > .fa, .box-header > .glyphicon, .box-header > .ion, .box-header .box-title {
  color: #6b6e70;
}

.small-box {
  background: #2e3337 !important;
}

/* Constituent Status Color Key */
.donorKey li {
  color: white;
}

.atRisk {
  background: rgba(63, 191, 191, 0.2) !important;
}

.lapsing {
  background: rgba(191, 191, 63, 0.2) !important;
}

.lapsed {
  background: rgba(191, 127, 63, 0.3) !important;
}

.lost {
  background: rgba(191, 63, 63, 0.2) !important;
}

.neverDonor {
  background: rgba(0, 0, 0, 0.2) !important;
}

.retained {
  background: rgba(63, 191, 127, 0.3) !important;
}

table caption {
  background: #2e3337;
}

th {
  background: #86c232;
}

tr:hover {
  background: #61892F;
}

tr:nth-child(even), .table-striped > tbody > tr:nth-of-type(2n+1) {
  background: #222629;
}

tr:nth-child(odd), tr:nth-child(2n) {
  background: #2e3337;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
  border-color: #6b6e70;
  vertical-align: middle;
}

.table-bordered {
  border: none;
}

td {
  color: #84888a;
}

.form-control {
  background: #222629;
  border-color: #474b4f;
  color: #6b6e70;
}

td .form-group:last-of-type {
  margin: 0;
}

.btn-info, .btn, input[type=submit], button, html input[type=button], input[type=reset] {
  box-shadow: none;
  padding: 2px 10px;
  background: #222629;
  color: #86c232;
  border: 1px solid #86c232 !important;
  border-color: #6b6e70;
  -webkit-appearance: button-bevel;
  font-size: 16px;
  font-size: 1rem;
}
.btn-info:hover, .btn:hover, input[type=submit]:hover, button:hover, html input[type=button]:hover, input[type=reset]:hover {
  background: #86c232;
  border-color: #86c232 !important;
}

.btn-info.disabled.focus, .btn-info.disabled:focus, .btn-info.disabled:hover, .btn-info[disabled].focus, .btn-info[disabled]:focus, .btn-info[disabled]:hover, fieldset[disabled] .btn-info.focus, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info:hover {
  background: #86c232;
  border-color: #86c232;
}

input[name=file] {
  padding: 0;
}

.form-control:focus {
  border-color: #86c232;
}

.sidebar-menu > li > a {
  color: white;
}

.sidebar-menu > li > a:hover {
  background: #6b6e70;
}

.sidebar-form, .sidebar-menu > li.header {
  background: #222629;
  color: #86c232;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color: #86c232 !important;
  border-color: #86c232 !important;
}

.main-footer {
  background: #222629;
  border-top: 1px solid rgba(134, 194, 50, 0.2);
  color: #6b6e70;
}

@media print {
  .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: left;
  }

  .col-md-8 {
    width: 66.66666667%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-4 {
    width: 33.33333333%;
  }

  .print-hide {
    display: none;
  }

  #pledge {
    padding: 0;
    margin: 0;
  }
  #pledge * {
    font-size: 10px;
    font-size: 0.625rem;
  }
  #pledge h1 {
    font-size: 15px !important;
  }
  #pledge .cm-graphic:before {
    height: 8px;
    width: 8px;
  }
  #pledge .cm-graphic {
    padding: 0 0 0 10px;
  }
  #pledge td {
    font-size: 10px;
    font-size: 0.625rem;
    height: auto;
    line-height: 12px;
  }
  #pledge .box {
    border: none;
    padding: 10px;
    background: #dddbdb !important;
  }
  #pledge table, #pledge .row {
    margin-bottom: 0;
  }
  #pledge .credit-card td {
    width: 30%;
  }
  #pledge .credit-card td.underline {
    width: 100%;
  }
  #pledge caption {
    margin-top: 10px;
    padding-bottom: 0;
    font-size: 12px !important;
  }
  #pledge .hear {
    min-width: 120px !important;
  }
  #pledge .underline {
    padding: 0;
    vertical-align: bottom;
  }

  .box {
    border: none;
  }

  #pledge:nth-of-type(even) {
    page-break-after: always;
  }
}

/*# sourceMappingURL=dark.css.map */
