﻿@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4 sidebar">
        <div class="nav-tabs">
            <button class="btn btn-tab" onclick="tab('new')">New</button>
            <button class="btn btn-tab" onclick="tab('top')">Top</button>
            <button class="btn btn-tab" onclick="tab('rising')">Rising</button>
        </div>
        <div class="lists">
            <div id="new" class="tab">
                <h2>New</h2>
                <p>This is where a list of links to the most recent 10 discussions will go</p>
            </div>

            <div id="top" class="tab" style="display:none">
                <h2>Top</h2>
                <p>This is where a list of links to the top 10 most active discussions of the day will go</p>
            </div>

            <div id="rising" class="tab" style="display:none">
                <h2>Rising</h2>
                <p>This is where a list of links to the top 10 discussions within the last hour will go</p>
            </div>
        </div>
    </div>


    <div class="col-md-8">
        <h1>Jabberbox</h1>
        <h2>We are totally not Reddit</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum eu dolor in maximus. Morbi eu venenatis odio. Vestibulum non imperdiet enim. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse porttitor a metus vulputate sodales. Nulla libero augue, commodo sed purus in, sollicitudin volutpat massa. Aenean egestas ultrices viverra. Praesent ut urna elementum, consectetur velit in, convallis tortor. Fusce tincidunt sit amet ex nec fermentum. Suspendisse tincidunt arcu risus, sed facilisis eros rhoncus vel. Fusce vel egestas sapien. Pellentesque eu feugiat ante. Duis at lobortis quam. Mauris molestie eros a pulvinar sagittis. Fusce pulvinar purus id sem auctor, sit amet luctus turpis sodales.
        </p>
        <p>
            Morbi a lorem finibus, congue massa sed, venenatis arcu. In gravida ac felis eget consectetur. Aliquam erat volutpat. Integer ac vulputate ex, et ultrices metus. Integer hendrerit orci at imperdiet fermentum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed auctor enim quis sodales mollis. Integer ullamcorper libero eu pharetra tristique.
        </p>
        <blockquote>
            Your news, your voice, your way!
        </blockquote>

        @using Microsoft.AspNet.Identity
        @if (!Request.IsAuthenticated)
        {
        <div class="btn-area">
                @Html.ActionLink("Register", "Register", "Account", null, new { @class = "bg-btn" })
                @Html.ActionLink("Login", "Login", "Account", null, new { @class = "bg-btn" })
        </div>
        }
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="~/Scripts/script.js"></script>
}