﻿@model Dialogistic.Models.UpdateUserProfileViewModel

@{
    var userIsAdmin = User.IsInRole("Administrator") || User.IsInRole("SuperAdmin");
}

<section class="content-header">
    <h1>
        Profile Information
    </h1>
    <ol class="breadcrumb">
        @if (userIsAdmin)
        {
            <li><a href="~/Admins/Dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        }
        else
        {
            <li><a href="~/StandardUsers/Dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        }
        <li><a href="~/Manage/Index">Account Settings Overview</a></li>
        <li class="active">Profile Information</li>
    </ol>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Update Your Profile Information</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        @using (Html.BeginForm("UpdateUserProfile", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">

                <div class="box-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", style = "max-width: 500px;" } })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", style = "max-width: 500px;" } })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", style = "max-width: 500px;" } })
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", style = "max-width: 500px;" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Avatar, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBox("file", "", new { @class = "form-control", type = "file", style = "max-width: 500px;" }) <br />
                            @ViewBag.Message
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="SiteTheme" class="control-label col-md-2" style="max-width:500px;">Select Site Theme:</label>
                        <div class="col-md-10">
                            <select class="form-control" id="SiteTheme" name="SiteTheme" style="max-width:500px;">
                                <option selected="selected" disabled>-- Please select theme -- </option>
                                <option value="Standard">Standard</option>
                                <option value="Dark">Dark</option>
                                <option disabled>90s</option>
                            </select>
                            </div>
                        </div>

                        <!-- Grab the avatar for this model, if it exists -->
                        @if (Model != null && Model.Avatar != null)
                        {
                            <div class="form-group">
                                @Html.Label("Current Profile Picture", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <img src=@Model.Avatar class="img-bordered" height="100" width="100" />
                                </div>
                            </div>
                        }
                    </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" id="updateButton" class="btn btn-info">Update Profile Information</button>
                </div>
                <!-- /.box-footer -->
            </div>
        }
    </div>
    <!-- /.box -->
</section>