﻿// NOTE:: This is the core HTML styles that can be found on the Style Guide Page of the site.


/*=======================
       Imports
========================*/
@import url("https://fonts.googleapis.com/css?family=Julius+Sans+One|Raleway:200,400,400i,900,900i");
@import '_mixins.scss';

//
// Font Familys
//
$special: 'Raleway';

$headline: 'Raleway', "Times New Roman", Times, serif;

$bodyCopy: 'Julius Snas One', Helvetica, Arial, "Lucida Grande", sans-serif;

// Default items
$radius: 8px;
$fullradius: 100px;

$text: #666;

//
// Core HTML
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.rounded {
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
}

.content-wrapper {
    padding: 20px;
    margin-bottom: 0;
}

.content-header, .content {
    padding: 0;
}

.content {
    padding: 20px 0;
}

.main-footer {
    margin-bottom: 0;
}

.wrapper {
    margin-bottom: 0 !important;
}

.bg-green .inner *, .callout.callout-success .inner *, .alert-success .inner *, .label-success .inner *, .modal-success .modal-body .inner * {
    color: white;
}

.bg-aqua .inner *, .callout.callout-info .inner *, .alert-info .inner *, .label-info .inner *, .modal-info .modal-body .inner * {
    color: white;
}

html {
    font-family: $bodyCopy;
    font-weight: 400;
    color: $text;
    font-size: 16px;
}

body {
    margin-top: 0px;
}

.wrapper, .container, .region-footer {
    padding: 0;
    margin: 0;
}

.ui-state-active .ui-icon .resizable-textarea .grippie, .element-invisible, div#skip-link, .toolbar-toggle-orientation {
    display: none !important;
}

// This removes the padding on the main body content so that everything is flush to the sides of the window.
.main-container > .row > .col-sm-12, .container-fluid {
    padding: 0;
}

// Headers

h1, h2, h3, h4, h5, h6 {
    font-family: $headline;
    font-weight: 300;
    margin: 0;
    line-height: 1.5em;
    text-transform: uppercase;
}

h1 {
    @include font-size(38px);
    font-weight: 700;

    &.page-header {
        display: none;
    }
}

h2 {
    @include font-size(36px);
    font-weight: 400;
}

h3 {
    @include font-size(34px);
    font-weight: 400;
}

h4 {
    @include font-size(30px);
    font-weight: 800;
}

h5 {
    @include font-size(25px);
    font-weight: 700;
}

h6 {
    @include font-size(20px);
    font-weight: 800;
}

.footnote p {
    @include font-size(12px);
    font-weight: 800;
    margin-bottom: 0;
}

.headers {
    * {
        font-family: $headline !important;
        font-weight: 500;
    }

    li {
        margin: 0 !important;
        padding: 0 !important;

        &:before {
            display: none !important;
        }
    }

    .light {
        font-weight: 200;
    }

    strong {
        font-weight: 800;
    }
}

img {
    width: 100%;
    height: auto;
}
//
// Logo/Name
//
.navbar .logo {
    max-width: 300px;
    display: block;
    float: left;
}

.logo-menu {
    margin-bottom: 0 !important;
}

.navbar-header {
    float: none;
}

.navbar-brand {
    float: none;
    height: auto;
    max-width: 1170px;
    margin: 0 auto;
}

.navbar-default {
    background: none;
    border: none;
}

.name {
    display: none;
}

// Fix full width issue
.nav-tabs {
    max-width: 1170px;
    margin: 0 auto;
}

.light {
    font-weight: 100;
}

.bodycopy {
    * {
        font-family: $bodyCopy !important;
    }

    li {
        margin: 0 !important;
        padding: 0 !important;

        &:before {
            display: none !important;
        }
    }
}

.larger {
    text-transform: none;
    @include font-size(120px);
    line-height: 120px;
    margin-bottom: 0;
}

// Color Palette

.palette {
    float: left;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px !important;

    ul {
        clear: left;
        float: left;
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
        left: 50%;
        text-align: center;
    }

    li {
        display: block;
        float: left;
        list-style: none;
        position: relative;
        right: 50%;
        width: 150px;
        height: 150px;
        position: relative;
        list-style: none;
        color: white;
        display: inline-block;
        text-align: center;
        margin-bottom: 20px;
        margin-right: 20px;

        &:before {
            display: none !important;
        }

        &:last-child {
            margin-right: 0;
        }

        p {
            color: white;
            position: absolute;
            @include font-size(20px);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

// Paragraph Styles

div, p {
    color: $text;
    @include font-size(18px);
    margin: 0 0 1em;
    line-height: 1.65em;
    font-weight: 400;
    font-family: $bodyCopy;

    &:last-child {
        margin-bottom: 1em;
    }
}

#toolbar-bar {
    * {
        @include font-size(12px);
        font-weight: 100;
    }
}

.container div:last-child, container p:last-child {
    margin: 0;
}

// .main-container .container div:last-child, .main-container .container p:last-child{
//     margin: 1em;
// }


i, em {
    font-style: italic;
    font-weight: 300;
}

b, strong {
    font-weight: 800;
}

a {
    text-decoration: none;
    @include transition(color .3s ease);
}

a:hover, a:focus {
    text-decoration: none;
}


img {
    max-width: 100%;
    height: auto;
}

//
// Lists
////// Ordered List
.region-content ol {
    list-style-type: none;
    margin: 0;
    margin-left: 0;
    padding: 0;
    counter-reset: li-counter;
}

.region-content ol > li {
    position: relative;
    margin-bottom: 15px;
    padding-left: 20px;
}

.region-content ol > li:before {
    position: absolute;
    color: white;
    top: 7px;
    left: 0;
    text-align: center;
    font-weight: 400;
    font-family: $bodyCopy;
    content: counter(li-counter);
    counter-increment: li-counter;
    border-radius: 100%;
    height: 15px;
    width: 15px;
    @include font-size(12px);
    line-height: 1.3em;
}

//
// Tables
table {
    border: 0;
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
}

table caption {
    padding: 15px;
    color: white;
}

th {
    padding: 10px 15px;
    color: white;
    font-weight: 500;
}

td {
    padding: 5px 15px;
    @include font-size(14px);
    vertical-align: middle;
}

.main-header .logo {
    height: 56px;
}

.main-sidebar {
    padding-top: 56px;
}

.tab-navigation {
    margin-bottom: 40px;
}

#mapid {
    height: 400px;
}


.donorKey li {
    padding: 5px 10px;
    border: solid 1px rgba(0,0,0,.2);
    display: inline-block;
    list-style-type: none;
    margin: 0;
    font-size: 14px;
}

.donorKey {
    margin: 0 0 20px 0 !important;
    padding: 0 !important;
}

body, html {
    overflow: visible;
}

#cometchat_chatboxes_wide .cometchat_tab, .cometchat_tabtitle, .cometchat_userstabtitle, #cometchat_tabcontainer .cometchat_tab_clicked, #cometchat_userstab {
    background: #ED6A5A !important;
}

#cometchat .cometchat_self, #cometchat .selfMsgArrow .after {
    background: #9BC1BC !important;
}

.centered-modal.in {
    display: flex !important;
}

.centered-modal .modal-dialog {
    margin: auto;
}


// Fixes
.content-wrapper, .main-footer, .main-header .navbar {
    margin-left: 20%;
}
.main-sidebar, .main-header .logo {
    width: 20%;
}

.user-panel{
    margin: 0;
}

.sidebar-menu > li > a {
    @include font-size(14px);
}

.sidebar-collapse .image {
    height: 30px;
    width: 30px;
}

.sidebar-collapse {
    .clock {
        visibility: hidden;
        height: 1px;
        padding: 0;
        margin: 0;
    }
}

.image {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    overflow: hidden;
    display: block;
    position: relative;
}

.image > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
}

/*=======================
       Pledges
========================*/
#pledge {

    background: white;
    padding: 20px;
    margin-bottom: 20px;

    .box {
        border: none;
        background: #dddbdb;
        padding: 20px;
    }

    .cm-graphic:before {
        content: "";
        height: 15px;
        width: 15px;
        border: 1px solid #666;
        display: block;
        position: absolute;
        left: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .underline {
        border-bottom: 1px solid #666;
        width: 100%;
        padding: 0;
    }

    .cm-graphic {
        padding: 0 0 0 20px;
        margin-right: 10px;
        position: relative;
    }

    .checkbox-block {
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            list-style: none;
        }
    }

    caption {
        background: none;
        color: #666;
        padding: 0 0 10px 0;
        border-bottom: 1px solid #666;
        margin-bottom: 10px;
    }

    tr:nth-child(2n+1), tr:nth-child(2n) {
        background: none;
    }

    td {
        padding: 10px 10px 0 0;
        line-height: 20px;
        @include font-size(16px);
        vertical-align: middle;
        height: 29px;
    }
}