﻿@import "_core.scss";
@import "_standardColor.scss";

// General
.palette {

    .cp1 {
        background-color: $cp1;
    }

    .cp2 {
        background-color: $cp2;
    }

    .cp3 {
        background-color: $cp3;
    }

    .cp4 {
        background-color: $cp4;
    }

    .cp5 {
        background-color: $cp5;
    }
}

.logo-lg, .logo-mini {
    color: white;

    b {
        color: $cp1;
    }
}

h1 {
    color: $cp2;
}

h2 {
    color: $cp1;
}

h3 {
    color: $cp4;
}

h4 {
    color: $cp4;
}

h5 {
    color: $cp5;
}

h6 {
    color: $cp2;
}


hr {
    border-top: 1px solid rgba($cp2, .2);
}
//
// Content Section
.main-header .sidebar-toggle {
    color: $cp2;

    &:hover {
        color: $cp3;
    }
}

.main-header .sidebar-toggle:focus {
    color: $cp3;
}

a {
    color: $cp1;

    &:hover {
        color: $cp2;
    }
}

div, p {
    color: $cp5;
}

.main-header {
    background: $cp2;
}

.main-sidebar {
    background: $cp5;
}

.navbar.navbar-static-top {
    background: $cp1;
}


//
// Box
.box {
    background: none;
    border-radius: 0;
    box-shadow: none;
    border-top-color: $cp1;
    margin-top: 20px;
}

.box.box-info {
    border-top-color: $cp2;
}

.box-body {
    border: none;
    padding: 0;
}

.box-header {
    padding: 10px 0;
}

.box-footer {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

h3.box-title, .box-header > .fa, .box-header > .glyphicon, .box-header > .ion, .box-header .box-title {
    color: $cp5;
}

.small-box.bg-aqua {
    background: rgba($cp3, .5) !important;
}
.small-box.bg-green {
    background: rgba($cp4, .5) !important;
}
.small-box.bg-red {
    background: rgba($cp1, .5) !important;
}
/* Constituent Status Color Key */
.donorKey li {
    color: $cp5;
}

.atRisk {
    background: rgba(63, 191, 191, .2) !important;
}

.lapsing {
    background: rgba(191, 191, 63, .2) !important;
}

.lapsed {
    background: rgba(191, 127, 63, .3) !important;
}

.lost {
    background: rgba(191, 63, 63, .2) !important;
}

.neverDonor {
    background: rgba(0,0,0,.2) !important;
}

.retained {
    background: rgba(63, 191, 127, .3) !important;
}

//
// Tables
table caption {
    background: lighten($cp3,5%);
}

th {
    background: $cp2;
}

tr:hover {
    background: $cp1;
}

tr:nth-child(even), .table-striped > tbody > tr:nth-of-type(2n+1) {
    background: $even;
}

tr:nth-child(odd), tr:nth-child(2n) {
    background: $odd;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border-color: $cp5;
    vertical-align: middle;
}

.table-bordered {
    border: none;
}

td {
    color: lighten($cp5,10%);
}

//
// Form Elements
.form-control {
    background: none;
    border-color: $cp5;
    color: $cp5;
}

td .form-group:last-of-type {
    margin: 0;
}

.btn-info, .btn, input[type="submit"], button, html input[type="button"], input[type="reset"] {
    box-shadow: none;
    padding: 2px 10px;
    background: none;
    color: $cp5;
    border-color: $cp5;
    -webkit-appearance: button-bevel;
    @include font-size(16px);

    &:hover {
        background: $cp1;
        border-color: $cp1;
        color: white;
    }
}

.btn-info.disabled.focus, .btn-info.disabled:focus, .btn-info.disabled:hover, .btn-info[disabled].focus, .btn-info[disabled]:focus, .btn-info[disabled]:hover, fieldset[disabled] .btn-info.focus, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info:hover {
    background: $cp1;
    border-color: $cp1;
}

input[name="file"] {
    padding: 0;
}

.form-control:focus {
    border-color: $cp2;
}
//
// Sidebar
.sidebar-menu > li > a {
    color: white;
}

.sidebar-menu > li > a:hover {
    background: lighten($cp5, 10%);
}

.info p{
    color: $cp2;
}

.sidebar-form, .sidebar-menu > li.header {
    background: $cp4;
    color: $cp2;
}

//
// Paigination
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: $cp2 !important;
    border-color: $cp2 !important;
}
//
// Footer
.main-footer {
    background: $cp2;
    border-top: 1px solid rgba($cp1, .2);
    color: white;
}

@import "_print.scss";