﻿@model IEnumerable<PracticeProject.Models.Comment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Discussion.DiscussionsID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommentContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTimeOfCommentCreation)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Discussion.DiscussionsID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommentContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTimeOfCommentCreation)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CommentsID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CommentsID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CommentsID })
        </td>
    </tr>
}

</table>
