﻿@model IEnumerable<Dialogistic.Models.PledgeVM>

@{
    ViewBag.Title = "PrintPledges";
}

<h2 class="print-hide">Recent Pledges</h2>

<button onclick="javascript:window.print()" class="btn print-hide">Print</button>
@Html.ActionLink("Clear List", "ClearPledges", "Pledge", null, new { @class = "btn print-hide" })

<div class="box print">
    @foreach (var item in Model)
    {
        @Html.Partial("_PledgeSlip", item)
    }
</div>
