﻿
@model IEnumerable<PracticeProject.Models.Comment>

@{
    ViewBag.Title = "Discussion";
}

<h2>Discussion</h2>

@{
    var idOfDiscussion = Model.First().DiscussionsID;

}



<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Post.Title) *@


            <span style="font-weight:Bold;"> Topic: <br /></span>
            <span style="font-weight:Bold;"> @ViewBag.postTitle</span>

        </th>

    </tr>
    <tr>

        <th>
            @* @Html.DisplayNameFor(model => model.Likes) *@

            <span style="font-weight:Bold;"> @ViewBag.postContent</span>

        </th>
        <th>
            <span style="font-weight:normal;"> @ViewBag.firstNameOfPoster @ViewBag.lastNameOfPoster</span>
        </th>

        <th>
            <span style="font-weight:normal;"> @ViewBag.postTime</span>
        </th>



        <th></th>
    </tr>

    <tr>
        <th>
            <span style="font-weight:Bold;">Comments</span>
            &nbsp;
            &nbsp;
            @Html.ActionLink("Newest first", "DiscussionContent", "Discussions", new { id = idOfDiscussion, check = 1 }, null)
            &nbsp;
            &nbsp;
            @Html.ActionLink("Oldest first", "DiscussionContent", "Discussions", new { id = idOfDiscussion, check = 0 }, null)
        </th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CommentContent)


            </td>

            <td>
                @Html.DisplayFor(modelItem => item.User.FirstName)
                @Html.DisplayFor(modelItem => item.User.LastName)

            </td>

            <td>
                @Html.DisplayFor(modelItem => item.DateTimeOfCommentCreation)

            </td>





        </tr>
    }

</table>