﻿@model Dialogistic.Models.Constituent
@*@model dynamic*@


@{
    ViewBag.Title = "Update";
}
<head>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://js.stripe.com/v3/"></script>


</head>

@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">*@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="https://js.stripe.com/v3/"></script>

@*<head>
        <script src="~/Scripts/jquery-3.3.1.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="https://js.stripe.com/v3/"></script>
    </head>*@

<section class="content-header">
    <h1>
        Call This Constituent
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/StandardUsers/Dashboard"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li><a href="~/StandardUsers/ViewCallList">View Call List</a></li>
        <li class="active">Call Constituent</li>
    </ol>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title"></h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div>
                    <div class="col-md-4 col-md-push-8">
                        <div class="panel panel-primary client-controls">
                            <div class="panel-heading bg-purple">
                                <h3 class="panel-title">Call Controls</h3>
                            </div>
                            <div class="panel-body">
                                <p><strong>Connection Status</strong></p>
                                <div class="well well-sm" id="call-status">
                                    Connecting to Twilio...
                                </div>
                                <button onclick="callConstituent('5039830280')" type="button" class="btn btn-primary btn-lg call-constituent-button">
                                    <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                                    Call Constituent
                                </button>
                                <button class="btn btn-lg btn-danger hangup-button" disabled onclick="hangUp()">Hang up</button>
                            </div>
                        </div>


                        <div class="col-md-12 col-md-pull-0">

                            <div class="panel-heading bg-purple">
                                <h3 class="panel-title"> Constituent Response</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    @using (Html.BeginForm("Index", "Voice", FormMethod.Get))
                                    {
                                        <div>
                                            <h8> Constituent donation type</h8>
                                            <input type="text" id="txtInput" name="donationType" placeholder="Type of Donation" />

                                            <br />
                                            <br />
                                            <br />

                                            <h8> Constituent call outcome</h8>
                                            <select name="callOutcome">
                                                <option value="">None Selected</option>
                                                <option value="already pledged">Already Pledged</option>
                                                <option value="specified pledged">Specified Pledge</option>
                                                <option value="unspecified pledged">Unspecified Pledge</option>
                                                <option value="no pledge">No Pledge</option>
                                                <option value="call back later">Call Back Later</option>
                                                <option value="daytime callback">Daytime Callback</option>
                                                <option value="out of the country">Out of the Country</option>
                                                <option value="whereabouts unknown">Whereabouts Unknown</option>
                                                <option value="no english">No English</option>
                                                <option value="not available">Not Available</option>
                                                <option value="no answer">No Answer</option>
                                                <option value="busy">Busy</option>
                                                <option value="answering machine">Answering Machine</option>
                                                <option value="disconnect">Disconnect</option>
                                                <option value="fax number">Fax Number</option>
                                                <option value="privacy manager">Privacy Manager</option>
                                                <option value="do not call">Do Not Call</option>
                                                <option value="remove from list">Remove From List</option>
                                                <option value="reassigned number">Reassigned Number</option>
                                                <option value="deceased">Deceased</option>
                                            </select>
                                        </div>


                                        <input type="submit" class="btn btn-reddit" value="Submit" />


                                    }
                                </div>
                                
                                <div style="padding-right:400px; padding-top: 150px ">
                                    <button onclick="myFunctionOne()"><p><u><em>Call Log:</em></u></p></button>

                                    <div id="myDIVOne" class="col-md-15" style="width:400px; height:300px; overflow: auto; display:none; ">
                                        <h8>Date &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp   GiftType  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp CallOutcome</h8>
                                        @foreach (var item in ViewBag.CallDetails)
                                        {

                                            <table>
                                                <tr>

                                                    <td>@item.DateOfCall.ToString("dd MMM yyyy")</td>

                                                    <td>@item.GiftType</td>

                                                    <td>|</td>

                                                    <td>@item.CallOutcome</td>
                                                </tr>
                                            </table>
                                        }
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="col-md-8 col-md-pull-4">
                        <div class="panel-heading bg-purple">
                            <h3 class="panel-title"> Constituent Details</h3>
                        </div>
                        <div class="panel-body">

                            <div class="row">
                                <div class="col-md-6">
                                    <u><em>Personal information</em></u>
                                    <p><strong>Name: </strong> @Model.PrimaryAddressee</p>
                                    <p><strong>Phone number: </strong> @Model.PhoneNumber</p>
                                    <p><strong>Mobile number: </strong> @Model.MobilePhoneNumber</p>
                                    <p><strong>Alternate number:</strong> @Model.AlternatePhoneNumber</p>
                                    <p><strong>City: </strong> @Model.PreferredCity</p>
                                    <p><strong>State: </strong> @Model.PreferredState</p>
                                    <p><strong>Zip: </strong> @Model.PreferredZIP</p>
                                </div>

                                <div class="col-md-6">
                                    <p><u><em>Yearly Report:</em></u></p>
                                    <canvas id="ConstituentReport"></canvas>

                                    <p><u><em>Donation History</em></u></p>
                                    <p><strong>Constituent ID:</strong> @Model.ConstituentID</p>

                                    <p><strong>Previous Donation amount: </strong> @Model.LastGiftAmount</p>
                                    <p><strong>Total LifeTime Donations: </strong> @Model.LifeTimeDonations</p>
                                    <p><strong>Last Gift Date: </strong> @Model.LastGiftDate</p>
                                    <p><strong>Penultimate Gift Date: </strong> @Model.NextToLastGiftDate</p>
                                    <p><strong>Donation Status: </strong> @Model.DonationStatus</p>
                                    <p><strong>Last Contacted: </strong> @Model.LastContacted</p>
                                    <p><strong>University Relationship: </strong> @Model.UniversityRelationship</p>


                                    <button onclick="myFunctionTwo()"><p><u><em>Donation Log:</em></u></p></button>

                                    <div id="myDIVTwo" class="col-md-10" style="width:400px; height:300px; overflow: auto; display:none;">
                                        <h8>Date &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp   Amount  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Recipient</h8>
                                        @foreach (var item in ViewBag.CallDetails)
                                        {

                                            <table>
                                                <tr>

                                                    <td>@item.DateOfCall.ToString("dd MMM yyyy")</td>

                                                    <td>@item.GiftAmount</td>

                                                    <td>@item.GiftRecipient</td>
                                                </tr>
                                            </table>
                                        }
                                    </div>

                                </div>

                            </div>

                            <p><a href="~/Constituents/ProposeConstituentChanges/@Model.ConstituentID">Update Constituent Information</a></p>

                        </div>

                    </div>


                </div>
                <!-- /.box-footer -->
            </div>
            <!-- /.box -->
        </div>
</section>
<!-- PAYMENT SECTION -->
<section>
    <div>
        <div class="row">
            <div class="col-sm-1">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" style="margin-left:15px;" data-toggle="modal" data-target="#pmtModal" data-backdrop="static">Pledge</button>
            </div>
            <div class="col-sm-1">$</div>
            <div class="col-sm-10">@Html.TextBox("Amount", null, new { @type = "number", @class = "form-control", @min = "0", placeholder = "Pledge Amount" })</div>

            @*<div class="input-group mb-2 col-sm-10">
                    <label>$</label>

                    @Html.TextBox("Amount", null, new { @type = "number", @class = "form-control", @min = "0", placeholder = "Pledge Amount" })
                </div>*@
            @*<@*div class="col-auto">*@
            @*<label class="sr-only" for="inlineFormInputGroup">Amount</label>*@
            @*<div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">$</div>
                </div>*@
            @*@Html.TextBox("Amount", null, new { @type = "number", @class = "form-control", @min = "0", placeholder = "Pledge Amount" })*@

            @*</div>*@
            @*</div>*@
        </div>
        @if (!string.IsNullOrEmpty(ViewBag.Message))
        {
            <div class="row">
                <div class="alert alert-success" role="alert">
                    @ViewBag.Message
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    Text Here Voice
                </div>
            </div>
        }
        @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <div class="row">
                <div class="alert alert-warning" role="alert">
                    @ViewBag.ErrorMessage
                </div>
            </div>
        }

        <!-- The Modal -->
        <div class="modal" id="pmtModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Payment Information</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <form action="/pledge/charge" method="post" id="payment-form">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name" name="name" placeholder="Name As Appears On Card">
                            </div>
                            <div class="form-group">
                                <label for="pledgeAmount">Pledge Amount</label>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">$</div>
                                    </div>
                                    <input id="pledgeAmount" class="form-control" type="number" name="pledgeAmount" />
                                </div>
                            </div>

                            <div class="form-row">
                                <label for="card-element">
                                    Credit or debit card
                                </label>
                                <div id="card-element" style="width: 30em; height: 3em;">
                                    <!-- A Stripe Element will be inserted here. -->
                                </div>

                                <!-- Used to display Element errors. -->
                                <div id="card-errors" style="width: 30em; height: 2em;" role="alert"></div>
                            </div>

                            <button>Submit Payment</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
            $(function () {
                // pass in as string literal to config manager to get public key
                var stripe = Stripe('@System.Configuration.ConfigurationManager.AppSettings["StripePublishableKey"]');
                var elements = stripe.elements();
                var style =
                {
                    base:
                    {
                        // Add base input styles
                        fontSize: '16px',
                        color: "#32325d",
                    }
                };
                $('#pmtModal').on('show.bs.modal',
                    function (event) {
                        $('#pledgeAmount').val($('#Amount').val());
                    });
                // Create an instance of the card Element.
                var card = elements.create('card', { style: style });

                // Add an instance of the card Element into the `card-element` <div>.
                card.mount('#card-element');
                card.addEventListener('change', function (event) {
                    // Display error if card doesn't work
                    var displayError = document.getElementById('card-errors');
                    if (event.error) {
                        displayError.textContent = event.error.message;
                    }
                    else {
                        displayError.textContent = '';
                    }
                });

                var form = document.getElementById('payment-form');
                form.addEventListener('submit', function (event) {
                    event.preventDefault();
                    stripe.createToken(card).then(function (result) {
                        if (result.error) {
                            // Inform the user that there was an error.
                            var errorElement = document.getElementById('card-errors');
                            errorElement.textContent = result.error.message;
                        }
                        else {
                            // Send the token to the server.
                            stripeTokenHandler(result.token);
                        }
                    });
                });

                function stripeTokenHandler(token) {
                    console.log(token);
                    // Insert the token ID into the form so it gets submitted to the server
                    var form = document.getElementById('payment-form');
                    var hiddenInput = document.createElement('input');
                    hiddenInput.setAttribute('type', 'hidden');
                    hiddenInput.setAttribute('name', 'stripeToken');
                    hiddenInput.setAttribute('value', token.id);
                    form.appendChild(hiddenInput);

                    // Submit the form
                    form.submit();
                }
            });
    </script>
</section>
<!-- Twilio Programmable Voice -->
<script type="text/javascript" src="//media.twiliocdn.com/sdk/js/client/v1.6/twilio.min.js"></script>
<script type="text/javascript" src="~/Scripts/myScript.js"></script>
@Scripts.Render("~/bundles/browser-calls")

@section scripts {
    <script src="~/Scripts/Chart.js"></script>

    <script>

        //----Yearly Report Chart---------
        var c = document.getElementById("ConstituentReport");
        var ctx = c.getContext("2d");
        var tData = $.getValues("/Voice/GetConstituentReport/" + @Model.ConstituentID);
        var myLineChart = new Chart(ctx, {
            type: 'line',
            data: tData
        });

    </script>


    <script>

        function myFunctionOne() {
            var x = document.getElementById("myDIVOne");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>


    <script>

        function myFunctionTwo() {
            var x = document.getElementById("myDIVTwo");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>

}