﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Jabberbox</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container body-content">
        <nav>
            <ul class="menu">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                <li>@Html.ActionLink("Discussions", "Index", "Discussions")</li>
                <li>@Html.ActionLink("Posted Content", "Index", "Posts")</li>

            </ul>
            @Html.Partial("_LoginPartial")
        </nav>

        @RenderBody()

    </div>

    <footer class="container">
        <p>
            &copy; @DateTime.Now.Year Jabberbox, All Right Reserved |
            Designed and developed by<a href="https://bitbucket.org/floatnone/float-none/src/master/" target="_blank"> FLOAT: NONE;</a> |
            @using Microsoft.AspNet.Identity
            @if (!Request.IsAuthenticated)
            {

                @Html.ActionLink("Login", "Login", "Account") <span> | </span>
            }
            @Html.ActionLink("Report Issue", "Create", "SupportTickets")
        </p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("PageScripts", required: false)
</body>
</html>
