﻿
@{
    /**/

    ViewBag.Title = "Create";
}

<section class="content-header">
    <h1>
        Welcome Caller!
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Admins/Dashboard"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">Welcome Caller!</li>
    </ol>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h2 class="box-title">general help and guidelines</h2>
        </div>

        <div>
            <h6>Description of options</h6>

            <p>
                View Call List: use this option to view the callers on your assigned call list. Clicking the call action will take you to a more
                detailed page pertaining to that caller with donation and call log options, the ability to fill out suggested updates on a constituent's
                informtion, and of course call the constitutent yourself!
            </p>

            <p>
                View Constituents: use this option to check the donation status of constitutents on your call list. Also, you can search for a particular constituent
                via the search box.
            </p>

            <p>
                Settings: use this option to update your account info, change your password, and
                review a report on the site's security.
            </p>

            <p>Help: use this option . . . to . . . well . . . you are here afterall :) </p>

            <p>Log Out: use this option to properly sign out from the site. </p>


        </div>

    </div>

</section>
