﻿@model Dialogistic.Models.Constituent

@{
    ViewBag.Title = "Update";
}

<section class="content-header">
    <h1>
        Constituents
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Update Constituent</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" method="post" action="~/Constituents/UpdateConstituent">

            @Html.HiddenFor(model => model.ConstituentID)

            <div class="box-body">
                <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">Primary Addressee</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="PrimaryAddressee" placeholder="@Model.PrimaryAddressee" value="@Model.PrimaryAddressee">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputAddress1" class="col-sm-2 control-label">Preferred Address 1</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="PreferredAddressLine1" placeholder="@Model.PreferredAddressLine1" value="@Model.PreferredAddressLine1">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputAddress2" class="col-sm-2 control-label">Preferred Address 2</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="PreferredAddressLine2" placeholder="@Model.PreferredAddressLine2" value="@Model.PreferredAddressLine2">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputAddress3" class="col-sm-2 control-label">Preferred Address 3</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="PreferredAddressLine3" placeholder="@Model.PreferredAddressLine3" value="@Model.PreferredAddressLine3">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputCity" class="col-sm-2 control-label">Preferred City</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="PreferredCity" placeholder="@Model.PreferredCity" value="@Model.PreferredCity">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputState" class="col-sm-2 control-label">Preferred State</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="PreferredState" placeholder="@Model.PreferredState" value="@Model.PreferredState">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputZIP" class="col-sm-2 control-label">Preferred ZIP</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="PreferredZIP" placeholder="@Model.PreferredZIP" value="@Model.PreferredZIP">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPhoneNumber" class="col-sm-2 control-label">Phone Number</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="PhoneNumber" placeholder="@Model.PhoneNumber" value="@Model.PhoneNumber">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputMobilePhone" class="col-sm-2 control-label">Mobile Phone Number</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="MobilePhoneNumber" placeholder="@Model.MobilePhoneNumber" value="@Model.MobilePhoneNumber">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputAltPhone" class="col-sm-2 control-label">Alternate Phone Number</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="AlternatePhoneNumber" placeholder="@Model.AlternatePhoneNumber" value="@Model.AlternatePhoneNumber">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputLastContacted" class="col-sm-2 control-label">Last Contacted</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.LastContacted, "{0:yyyy-MM-dd}", new { type = "date" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputLastGiftDate" class="col-sm-2 control-label">Last Gift Date</label>
                    <div class="col-sm-10">
                        @*@Html.EditorFor(model => model.LastGiftDate)*@
                        @Html.TextBoxFor(model => model.LastGiftDate, "{0:yyyy-MM-dd}", new { type = "date" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputDeceased" class="col-sm-2 control-label">Deceased</label>
                    <div class="col-sm-10">
                        @Html.EditorFor(model => model.Deceased)
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            
            <div class="box-footer">
                <div class="col-md-12">
                    @*<button type="reset" class="btn btn-default">Cancel</button>*@
                    <button type="submit" class="btn btn-info">Update Information</button>
                </div>
            </div>
                <!-- /.box-footer -->
        </form>
    </div>
    <!-- /.box -->
</section>

