﻿/* DEFAULTS */
a {
    color: #EDC951;
    background: -webkit-linear-gradient(#EDC951, #CC2A36);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 200;
}

    a:hover {
        text-decoration: none;
        -webkit-background-clip: unset;
        -webkit-text-fill-color: initial;
        background: none;
        color: #CC2A36;
    }

/* NAVIGATION */

nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 1px solid #ededed;
    text-align: center;
}

.menu {
    width: 100%;
    display: table;
    text-align: center;
    margin: 0;
}

.menu li{
    display: inline-block;
     float: none;
     list-style: none;
}

    .menu li a {
        display: inline-block;
        padding: 20px 15px;
    }

.menu li a:hover {
    background: #CC2A36;
    color: white;
}

.navbar-right{
    position: absolute;
    right: 0;
    top: 0;
}

.navbar-right li{
    float: left;
}

.navbar-right li a{
    display: block;
    padding: 20px 15px;
}

.navbar-right li a:hover{
    background: #CC2A36;
    color: white;
}

.navbar-nav{
    flex-direction: unset;
}
/* CONTENT */
body {
    background: #D4D9DF;
}

.body-content {
    position: relative;
    margin: 40px auto 0;
    background: white;
    padding: 90px 20px 20px;
    -webkit-box-shadow: 1px 4px 63px -43px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 4px 63px -43px rgba(0,0,0,0.75);
    box-shadow: 1px 4px 63px -43px rgba(0,0,0,0.75);
}

blockquote {
    font-size: 25px;
    background: #eee;
    padding: 20px;
    border-left: 5px solid #CC2A36;
}

.btn-tab{
    font-size: 10px;
    background: #eee;
    color: #666;
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 15px;
}

.lists{
    border-top: 1px solid #eee;
    margin: 0;
    padding: 10px 0 0;
}

.btn-area{
    text-align: center;
}

.bg-btn {
    padding: 10px 20px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#edc951+1,cc2a36+100 */
    background: #edc951; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #edc951 1%, #cc2a36 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #edc951 1%,#cc2a36 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #edc951 1%,#cc2a36 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edc951', endColorstr='#cc2a36',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    font-size: 24px;
    text-decoration: none;
    -webkit-background-clip: unset;
    -webkit-text-fill-color: initial;
    border-radius: 5px;
    margin: 20px 0;
    display: inline-block;
    color: white;
    margin-right: 20px;
}

.bg-btn:hover{
    background: #CC2A36;
    color: white;
}

/* FOOTER */
footer {
    background: #f8f8f8;
    border-top: 1px solid #ededed;
    padding: 40px 20px;
    margin-bottom: 40px;
}

footer p{
    margin: 0;
}